.filter{
    display: block;
    width: 100%;

    margin: 0px 15px 15px 0px;

    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    border-radius: 5px;
}

.faux-button-circle{
    color: white;
    background-color: #d2b48c;
    cursor: pointer;
    font-size: 6rem;
    padding: 10px 15px;
    border-radius: 100%;
}

.faux-button-circle:hover{
    background-color: #9F8159;
}

.abs-bottom {
    position: fixed;
    bottom: 15px;
    z-index: 900;
}

.bottom-a{
    right: 105px;
}

.bottom-b{
    right: 15px;
}

.filter-window{
    height: 435px;
    width: 370px;
    z-index: 899;
}

.filter-header{
    font-size: 30px;
    font-weight: 500;

    padding: 10px;

    border-radius: 5px 5px 0px 0px;

    background: -moz-linear-gradient(rgba(159,129,89,.3),rgba(159,129,89,.3));
    background: -webkit-linear-gradient(rgba(159,129,89,.3),rgba(159,129,89,.3));
    background: linear-gradient(rgba(159,129,89,.3),rgba(159,129,89,.3));
}

.filter-row{
    padding: 5px 10px;
    min-height: 112px;
}

.sub-header{
    padding: 10px 10px 0px 10px;
    font-size: 24px;
}

label{
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 24px;
    cursor: pointer;
}

.nav-tabs.nav-justified>li>a{
    border-radius: 0px;
}

.inclusiveBtn{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 25%;
}

.btn-primary:hover, .btn-primary:hover:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .btn-primary.active:focus{
    background-color: #9F8159;
    border-color:  #9F8159;
    outline: 0px;
    color: white;
}

.btn-primary.active:hover, .btn-primary.active:active, .btn-primary.active:active:focus, .btn-primary, .btn-primary:focus{
    background-color: #d2b48c;
    border-color:  #d2b48c;
    outline: 0px;
    color: black;
}

/* This prevents nab tabs from resizing on mobile */
.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}