.island-card{
    width: 100%;
    position: relative;
    border-radius: 5px;
    padding-top: 100%;

    cursor: pointer;

    color: #d2b48c;
    background-color: #f0f8ff;
}

.card-top{
    position: absolute;
    top: 10px;
    padding: 0px 15px;
    width: 100%;

    display: block;
}

.galleryImage{
    border-radius: 5px;
    position: absolute;
    
    /*hacky fix to ensure that the photos are on top of the island cards*/
    margin-top: -100%;
}

.card-name{
    float: left;
    width: 70%;
}

.card-icons{
    /* hacky fix to ensure that the icons are aligned with island text */
    padding-top: 5px;
    float: right;
    width: 30%;
}

.card-mark{
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.card-location{
    position: absolute;
    bottom: 10px;
    right: 15px;
    float: right;
    color: #d2b48c;
}

@media only screen and (max-width: 767px) {
    .card-text{
        font-size: 14px;
    }

    .mark-text{
        font-size: 36px;
        color: #d2b48c;
    }
} 

@media only screen and (min-width: 768px) {
    .card-text{
        font-size: 18px;
    }

    .mark-text{
        font-size: 48px;
        color: #d2b48c;
    }
} 