.island-card{
    width: 100%;
    position: relative;
    border-radius: 5px;
    padding-top: 100%;

    cursor: pointer;
}

.card-top{
    position: absolute;
    top: 10px;
    padding: 0px 15px;
    width: 100%;

    display: block;

    font-size: 18px;
    color: #d2b48c;
}

.galleryImage{
    border-radius: 5px;
    position: absolute;
    margin-top: -100%;
}

.card-text{
    float: left;
}

.card-icons{
    float: right;
}

.card-bottom{
    position: absolute;
    bottom: 0px;
    padding: 0px 15px;
    width: 100%;
    display: block;
    font-size: 64px;
    color: #d2b48c;
}