.island-card{
    background-color: beige;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    border-radius: 5px;

    cursor: pointer;
}

.island-text{
    position: absolute;
    top: 10px;
    left: 10px;
}