*{
    font-family: 'Yeon Sung', cursive;
}

main{
    padding-top: 15vh;
}

.center-vert{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.pad-top{
    padding-top: 10px;
}

.bg-parchment{
    background: url("../assets/parchment-high-res.jpg");
    background-size: cover;
}