*{
    font-family: 'Yeon Sung', cursive;
}

html, body{
    height: 100%;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

main{
    padding-top: 10vh;
    z-index: 1;

    background: azure;

    padding-bottom: 25px;
    min-height: 100%;
}

.center-vert{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.pad-top{
    padding-top: 10px;
}

.mar-top{
    margin-top: 10px;
}

.big-mar-top{
    margin-top: 25px;
}

.bg-parchment{
    background: url("../assets/parchment-high-res.jpg");
    background-size: cover;
}

.icon{
    float: right;
    padding-left: 3px;
}

.clickable{
    cursor: pointer;
}

.removable:hover{
    color: darkred;
}

.padded-content{
    padding: 0px 15px;
}

.ad-bottom{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}