.modal-open{
    /* Prevents the modal from blocking the scroll functionality */
    height: auto;
}

.secondContainer{
    height: 100%;
    width: 30%;
}
  
.mapview {
    height: 76.22%;
    background-color: beige;
}

.mapviewBorder{
    border-radius: 0px 6px 0px 0px;
}

.islandInfo {
    padding: 10px;
}

.modalText{
    font-size: 32px;
}

img{
    height: 100%;
    width: 100%;
}

.close{
    color: #d2b48c;

    position: absolute;
    top: 5px;
    right: 5px;

    cursor: pointer;
}

@media only screen and (min-width: 600px){
    .modal-content {
        display: flex;
        height: 100%;
        width: 100%;
    
        border: 0px;
    }

    .islandInfo {
        height: 23.88%;
    
        display: flex;
        align-items: center;
    }

    .vanityBorder{
        border-radius: 6px 0px 0px 6px;
    }

    .vanityShot{
        width: 70%;
        height: 100%;
    
        position: relative;
    }

    .islandName{
        float: left;
        width: 70%;
    }
    
    .islandIcons{
        float: right;  
        width: 30%;
    }
}

@media only screen and (max-width: 599px){
    .vanityShot{
        width: 100%;
        display: block;
    }

    .vanityBorder{
        border-radius: 6px 6px 0px 0px;
    }

    .modal-content{
        margin-top: 5%;
    }

    .modal-dialog{
        font-size: 16px;
    }

    .islandInfo {
        text-align: center;
    }

    .islandIcons{
        color: #d2b48c;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .vanityShot > .card-location{
        position: absolute;
        bottom: 70px;
        right: 5px;
    }

    .vanityShot > .card-mark{
        position: absolute;
        bottom: 70px;
        left: 5px;
    }
}

@media only screen and (min-width: 1350px){
    .modal-dialog{
        margin-top: 10%;
    
        height: 500px;
        width: 1270px;
    }
} 

@media only screen and (min-width: 992px) and (max-width: 1349px) {
    .modal-dialog{
        margin-top: 20%;
    
        height: 362px;
        width: 920px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .modal-dialog{
        margin-top: 30%;
    
        height: 279px;
        width: 710px;
    }

    .modalText{
        font-size: 24px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .modal-dialog{
        margin-top: 30%;
    
        height: 279px;
        width: 710px;
    }

    .modalText{
        font-size: 18px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .modal-dialog{
        margin: auto;
    
        height: 226px;
        width: 575px;
    }

    .modalText{
        font-size: 16px;
    }
}
