.modal-open{
    /* Prevents the modal from blocking the scroll functionality */
    height: auto;
}

.modal-content {
    display: flex;
    height: 100%;
    width: 100%;

    border: 0px;
}

.secondContainer{
    height: 100%;
    width: 30%;
}
  
.vanityShot{
    width: 70%;
    height: 100%;

    position: relative;
}

.vanityBorder{
    border-radius: 6px 0px 0px 6px;
}
  
.mapview {
    height: 76.22%;
    background-color: beige;
}

.mapviewBorder{
    border-radius: 0px 6px 0px 0px;
}

.islandInfo {
    height: 23.88%;

    display: flex;
    align-items: center;
    padding: 10px;
}

.islandName{
    float: left;
    width: 70%;
}

.islandIcons{
    float: right;  
    width: 30%;
}

.modalText{
    font-size: 32px;
}

img{
    height: 100%;
    width: 100%;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;

    cursor: pointer;
}

@media only screen and (min-width: 1350px){
    .modal-dialog{
        margin-top: 10%;
    
        height: 500px;
        width: 1270px;
    }
} 

@media only screen and (min-width: 992px) and (max-width: 1349px) {
    .modal-dialog{
        margin-top: 20%;
    
        height: 362px;
        width: 920px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .modal-dialog{
        margin-top: 30%;
    
        height: 279px;
        width: 710px;
    }

    .modalText{
        font-size: 24px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .modal-dialog{
        margin-top: 30%;
    
        height: 279px;
        width: 710px;
    }

    .modalText{
        font-size: 18px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .modal-dialog{
        margin: auto;
        margin-top: 40%;
    
        height: 226px;
        width: 575px;
    }

    .modalText{
        font-size: 16px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px){
    .modal-dialog{
        margin: auto;
        margin-top: 30%;
    
        height: 167px;
        width: 425px;
    }

    .modalText{
        font-size: 14px;
    }
}