<div ng-controller="controlsController">
    <div ng-click="changeView()" class="fa faux-button-circle abs-bottom map-button" ng-class="{'fa-map' : !OnMapPage(), 'fa-th' : OnMapPage()}"
        title="Switch to the map!"></div>

    <div ng-click="addingTrait = !addingTrait" class="fa faux-button-circle abs-bottom filter-position" ng-class="{'fa-filter' : !addingTrait, 'fa-times' : addingTrait}"
        title="Find an Island!"></div>

    <div ng-show="addingTrait" class="filter filter-window abs-bottom filter-position bg-parchment boxShadow">
        <div class="filter-header">I be looking for...</div>

        <uib-tabset class="filterTabList" active="activeJustified" justified="true">
            <uib-tab index="0" heading="Animals">
                <div class="row filter-row">
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.chickens"><span class="icon-Chicken filter-text"></span>&nbsp;Chickens</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.snakes"><span class="icon-Snake filter-text"></span>&nbsp;Snakes</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.pigs"><span class="icon-Pig filter-text"></span>&nbsp;Pigs</label></div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Special Islands">
                <div class="row filter-row">
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.fort"><span class="fa fa-fort-awesome filter-text"></span>&nbsp;Forts</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.outpost"><span class="fa fa-home filter-text"></span>&nbsp;Outposts</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="specialFilter.showFlagged"><span class="fa fa-flag filter-text"></span>&nbsp;Flagged</label></div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Islands With...">
                <div class="row filter-row">
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.docks"><span class="icon-Dock filter-text"></span>&nbsp;Docks</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.single"><span class="icon-Island filter-text"></span>&nbsp;Single Island</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.multiple"><span class="icon-MultIsland filter-text"></span>&nbsp;Multiple Islands</label></div>
                </div>  
            </uib-tab>
        </uib-tabset>

        <div class="sub-header">Active Filters: 
            <span ng-if="filters.chickens==true" class="removable clickable icon-Chicken" ng-click="filters.chickens = false; updateFilter()"></span>
            <span ng-if="filters.snakes==true" class="removable clickable icon-Snake" ng-click="filters.snakes = false; updateFilter()"></span>
            <span ng-if="filters.pigs==true" class="removable clickable icon-Pig" ng-click="filters.pigs = false; updateFilter()"></span>
            <span ng-if="filters.fort==true" class="removable clickable fa fa-fort-awesome" ng-click="filters.fort = false; updateFilter()"></span>
            <span ng-if="filters.outpost==true" class="removable clickable fa fa-home" ng-click="filters.outpost = false; updateFilter()"></span>
            <span ng-if="specialFilter.showFlagged==true" class="removable clickable fa fa-flag" ng-click="specialFilter.showFlagged = false; updateFilter()"></span>
            <span ng-if="filters.docks==true" class="removable clickable icon-Dock" ng-click="filters.docks = false; updateFilter()"></span>
            <span ng-if="filters.single==true" class="removable clickable icon-Island" ng-click="filters.single = false; updateFilter()"></span>
            <span ng-if="filters.multiple==true" class="removable clickable icon-MultIsland" ng-click="filters.multiple = false; updateFilter()"></span>
        </div>

        <div class="sub-header">I know what I be looking for</div>
        <div class="row filter-row">
            <div class="col-sm-12">
                <div class="input-group">
                    <label class="input-group-addon">Name</label>
                    <input ng-keyup="updateFilter()" type="text" class="form-control" ng-model="name" placeholder="Sanctuary Outpost">
                </div>
            </div>
        </div>

        <button type="button" class="btn inclusiveBtn btn-primary" ng-model="isExclusive" uib-btn-checkbox ng-change="updateFilter()">
            {{isExclusive?'Exclusive':'Inclusive'}}
        </button>
    </div>
</div>