<div ng-controller="controlsController">
    <div ng-click="changeView()" class="fa fa-map faux-button-circle abs-bottom bottom-a"
        title="Switch to the map!"></div>

    <div ng-click="addingTrait = !addingTrait" class="fa faux-button-circle abs-bottom bottom-b" ng-class="{'fa-filter' : !addingTrait, 'fa-times' : addingTrait}"
        title="Find an Island!"></div>

    <div ng-show="addingTrait" class="filter filter-window abs-bottom bottom-b bg-parchment boxShadow">
        <div class="filter-header">I be looking for...</div>

        <uib-tabset class="filterTabList" active="activeJustified" justified="true">
            <uib-tab index="0" heading="Animals">
                <div class="row filter-row">
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.chickens"><span class="fa fa-angle-right filter-text"></span>&nbsp;Chickens</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.snakes"><span class="fa fa-angle-left filter-text"></span>&nbsp;Snakes</label></div>
                    <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.pigs"><span class="fa fa-angle-down filter-text"></span>&nbsp;Pigs</label></div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Special Islands">
                <div class="row filter-row">
                        <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.fort"><span class="fa fa-fort-awesome filter-text"></span>&nbsp;Forts</label></div>
                        <div class="col-xs-12"><label><input type="checkbox" ng-change="updateFilter()" ng-model="filters.outpost"><span class="fa fa-home filter-text"></span>&nbsp;Outposts</label></div>
                        <div class="col-xs-12"></div>
                    </div>
            </uib-tab>
            <uib-tab index="2" heading="Islands With...">Shit like docks and stuff</uib-tab>
        </uib-tabset>

        <div class="sub-header">Active Filters: 
            <span ng-if="filters.chickens==true" class="removable clickable fa fa-angle-right" ng-click="filters.chickens = false; updateFilter()"></span>
            <span ng-if="filters.snakes==true" class="removable clickable fa fa-angle-left" ng-click="filters.snakes = false; updateFilter()"></span>
            <span ng-if="filters.pigs==true" class="removable clickable fa fa-angle-down" ng-click="filters.pigs = false; updateFilter()"></span>
            <span ng-if="filters.fort==true" class="removable clickable fa fa-fort-awesome" ng-click="filters.fort = false; updateFilter()"></span>
            <span ng-if="filters.outpost==true" class="removable clickable fa fa-home" ng-click="filters.outpost = false; updateFilter()"></span>
        </div>

        <div class="sub-header">I know what I be looking for</div>
        <div class="row filter-row">
            <div class="col-sm-12">
                <div class="input-group">
                    <label class="input-group-addon">Name</label>
                    <input ng-keyup="updateFilter()" type="text" class="form-control" ng-model="name" placeholder="Sanctuary Outpost">
                </div>
            </div>
        </div>

        <button type="button" class="btn inclusiveBtn btn-primary" ng-model="isExclusive" uib-btn-checkbox ng-change="updateFilter()">
            {{isExclusive?'Exclusive':'Inclusive'}}
        </button>
    </div>
</div>