<div class="container-fluid ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            <div ng-repeat="island in Islands" ng-hide="!island.showing" class="col-lg-3 col-sm-4 col-xs-6 big-mar-top">
                    <div class="island-card card-text" ng-click="showIsland(island)">
                        <img class="galleryImage" ng-src="{{island.mapView}}" />

                        <div class="card-top">
                            <div class="card-name">{{island.NAME}}</div>
                            <div class="card-icons">
                                <span ng-if="island.CHICKENS" class="removable icon fa fa-angle-right"></span>
                                <span ng-if="island.SNAKES" class="icon fa fa-angle-left"></span>
                                <span ng-if="island.PIGS" class="icon fa fa-angle-down"></span>
                                <span ng-if="island.FORT" class="icon fa fa-fort-awesome"></span>
                                <span ng-if="island.OUTPOST" class="icon fa fa-home"></span>
                                <span ng-if="island.DOCKS" class="icon fa fa-angle-double-left"></span>
                                <span ng-if="island.SINGLE" class="icon fa fa-angle-double-up"></span>
                                <span ng-if="island.MULTIPLE" class="icon fa fa-angle-double-down"></span>
                            </div>
                        </div>

                        <div class="card-bottom">
                            <div class="card-mark mark-text fa fa-bullseye" ng-click="MarkOnMap(island); $event.stopPropagation();"></div>
                            <div class="card-location">{{island.LOCATION}}</div>
                        </div> 
                    </div>
            </div>
        </div>
    </div>
</div>