<div class="container-fluid ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            <div ng-repeat="island in selectedIslands.islands" class="col-md-3 col-sm-4 col-xs-6 big-mar-top">
                    <div class="island-card" ng-click="showIsland(island)">
                        <div class="card-top">
                            <div class="card-text">{{island.name}}</div>
                            <div class="card-icons">
                                <span ng-if="island.chickens=='true'" class="icon fa fa-angle-right"></span>
                                <span ng-if="island.snakes=='true'" class="icon fa fa-angle-left"></span>
                                <span ng-if="island.pigs=='true'" class="icon fa fa-angle-down"></span>
                                <span ng-if="island.fort=='true'" class="icon fa fa-fort-awesome"></span>
                                <span ng-if="island.outpost=='true'" class="icon fa fa-home"></span>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div ng-click="MarkOnMap(island)" class="fa fa-bullseye"></div>
                        </div> 
                    </div>
            </div>
        </div>
    </div>
</div>