<span class="vanityShot vanityBorder">
    <img class="vanityBorder" ng-src="{{island.vanityShot}}">
    <div class="card-bottom">
            <div ng-click="MarkOnMap(island)" class="clickable fa fa-bullseye"></div>
    </div> 
</span>

<span class="secondContainer">
    <div class="mapview">
        <img class="mapViewBorder" ng-src="{{island.mapView}}">
    </div>
    <div class="islandInfo">
        <span class="islandName">{{island.NAME}}</span>
        
        <span class="islandIcons">
            <span ng-if="island.CHICKENS" class="icon fa fa-angle-right"></span>
            <span ng-if="island.SNAKES" class="icon fa fa-angle-left"></span>
            <span ng-if="island.PIGS" class="icon fa fa-angle-down"></span>
            <span ng-if="island.FORT" class="icon fa fa-fort-awesome"></span>
            <span ng-if="island.OUTPOST" class="icon fa fa-home"></span>
            <span ng-if="island.DOCKS" class="icon fa fa-angle-double-left"></span>
            <span ng-if="island.SINGLE" class="icon fa fa-angle-double-up"></span>
            <span ng-if="island.MULTIPLE" class="icon fa fa-angle-double-down"></span>
        </span>
    </div>
</span>
