<span class="vanityShot">
    <div class="card-bottom">
            <div ng-click="MarkOnMap(island)" class="clickable fa fa-bullseye"></div>
    </div> 
</span>

<span class="secondContainer">
    <div class="mapview">
    </div>
    <div class="islandInfo">
        <span class="islandName">{{island.name}}</span>
        
        <span class="islandIcons">
            <span ng-if="island.chickens=='true'" class="icon fa fa-angle-right"></span>
            <span ng-if="island.snakes=='true'" class="icon fa fa-angle-left"></span>
            <span ng-if="island.pigs=='true'" class="icon fa fa-angle-down"></span>
            <span ng-if="island.fort=='true'" class="icon fa fa-fort-awesome"></span>
            <span ng-if="island.outpost=='true'" class="icon fa fa-home"></span>
        </span>
    </div>
</span>