<span class="mapview">
</span>

<span class="secondContainer">
    <div class="vanityShot">
    </div>
    <div class="islandInfo">
        <span class="islandName">Island Name</span>
        
        <span class="islandIcons">
            <span class="icon fa fa-angle-down"></span>
            <span class="icon fa fa-fort-awesome"></span>
            <span class="icon fa fa-home"></span>
        </span>
        <!-- <span>
            <span ng-if="island.chickens=='true'" class="fa fa-angle-right"></span>
            <span ng-if="island.snakes=='true'" class="fa fa-angle-left"></span>
            <span ng-if="island.pigs=='true'" class="fa fa-angle-down"></span>
            <span ng-if="island.fort=='true'" class="fa fa-fort-awesome"></span>
            <span ng-if="island.outpost=='true'" class="fa fa-home"></span>
        </span> -->
    </div>
</span>